---
import { PUBLIC_GA_TRACKING_ID, ENABLE_LIGHTBOX } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import '../styles/syntax-coloring.css'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'

export interface Props {
  title: string
  description: string
  path: string
  ogImage: string
}

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()

const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(path, Astro.site).toString()
const siteOGImage = new URL('/favicon.png', Astro.site)

let coverImageURL: string
if (database.Cover) {
  if (database.Cover.Type === 'external') {
    coverImageURL = database.Cover.Url
  } else if (database.Cover.Type === 'file') {
    try {
      coverImageURL = filePath(new URL(database.Cover.Url))
    } catch (err) {
      console.log('Invalid DB cover image URL')
    }
  }
}

let customIconURL: string
if (database.Icon && database.Icon.Type === 'file') {
  try {
    customIconURL = filePath(new URL(database.Icon.Url))
  } catch (err) {
    console.log('Invalid DB custom icon URL')
  }
}

// const asidePaddingTop = coverImageURL ? '200px' : '60px'
const asidePaddingTop = '20px'
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={siteURL} />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:site_name" content={database.Title} />
    <meta property="og:image" content={ogImage || siteOGImage} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage || siteOGImage} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
    
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">

  </head>
  <body>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <div class="container">
      <main>
        {
          coverImageURL && (
            <div class="cover">
              <img src={coverImageURL} />
            </div>
          )
        }

        <div class="content">
          <header>
            <h1>
              <a href={getNavLink('/')}>
                {
                  database.Icon && database.Icon.Type === 'emoji' ? (
                    <>
                      <span>{database.Icon.Emoji}</span>
                      <span class="title">{database.Title}</span>
                    </>
                  ) : database.Icon && database.Icon.Type === 'external' ? (
                    <>
                      <img src={database.Icon.Url} />
                      <span class="title">{database.Title}</span>
                    </>
                  ) : database.Icon && database.Icon.Type === 'file' ? (
                    <>
                      <img src={customIconURL} class="custom-icon" />
                      <span class="title">{database.Title}</span>
                    </>
                  ) : (
                  <span class="title">{database.Title}</span>
                  )
                }
              </a>
            </h1>
            <div class="description">
              {database.Description}
            </div>
            <a href="https://twitter.com/ymd_a3_notion?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ymd_a3_notion</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </header>

          <slot name="main" />

          <footer>
            <div>
              <span>©︎ 2023</span>
              <a href="https://twitter.com/ymd_a3_notion"
                >ymd_py</a
              >
              <span> | Powered by</span>
              <a href="https://github.com/otoyo/astro-notion-blog"
                >astro-notion-blog</a
              >
            </div>
          </footer>
        </div>
      </main>

      <!-- <aside-n>

      </aside-n> -->
      <aside>
        <slot name="aside" />
        <!-- <br>
        <span class="profile">
          <p style="text-align: left"><b><font size="5">ymd_py</font></b><br>SE 0年目. Notion大好きマン. </p>
          <p style="text-align: right">
            <a href="https://twitter.com/ymd_a3_notion"><img src="/tw_icon.jpg"width="25" height="25" alt="Twitter"></a>
            &nbsp;
            <a href="https://github.com/yamataro-46"><img src="/github-icon.svg"width="25" height="25" alt="GitHub"></a>
          </p>
          <p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSda2h2kX8rn3_RmM3ii_aJlHLCx_QigRvr4uVzu0vN86CYjSw/viewform">↗お問い合わせはこちら</a>
          </p>
          <a class="twitter-timeline" data-height="300" href="https://twitter.com/ymd_a3_notion?ref_src=twsrc%5Etfw">Tweets by ymd_a3_notion</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </span> -->
        <p style="position: absolute; bottom: 0;">
        <a href="https://px.a8.net/svt/ejp?a8mat=3T4IPS+1F7ASY+4F92+61RI9" rel="nofollow">
          <img border="0" width="234" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=230318272086&wid=001&eno=01&mid=s00000020639001016000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4IPS+1F7ASY+4F92+61RI9" alt="CLAS"></p>
        <!-- <p style="position: absolute; bottom: 0;"> -->
        <!-- <a class="twitter-timeline" data-height="300" href="https://twitter.com/ymd_a3_notion?ref_src=twsrc%5Etfw">Tweets by ymd_a3_notion</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
        <!-- </p> -->
        </aside>
    </div>

    {
      ENABLE_LIGHTBOX && (
        <script src={getStaticFilePath('/scripts/fslightbox.js')} />
      )
    }
  </body>
</html>

<style define:vars={{ asidePaddingTop }}>
  .container {
    display: flex;
    min-height: 100vh;
  }
  @media (max-width: 640px) {
    .container {
      display: block;
    }
  }

  .title {
    font-size: 40px;
    font-weight: 550;
    /* font-family: 'M PLUS 1', sans-serif; */
    font-family: 'Patrick Hand', cursive;
    /* font-family: 'Port Lligat Sans', sans-serif; */
    /* font-family: 'Yomogi', cursive; */
  }
  .description {
    color: black;
    font-weight: 600;
    font-family: 'Yomogi', 'Port Lligat Sans', sans-serif;
  }



  main {
    flex: 1;
    order: 2;
    justify-content: space-between;
  }
  @media (max-width: 640px) {
    main {
      order: 1;
    }
  }

  /* aside-n {
    order: 1;
    width: 200px;
    padding: 20px 20px 20px;
    color: #F8F8FF;
  } */

  aside {
    order: 1;
    width: 300px;
    padding: var(--asidePaddingTop) 20px 20px;
    color: MenuText;
    background-color: Menu;
  }

  @media (max-width: 640px) {
    aside {
      order: 2;
      width: 100%;
      padding: 40px 20px 20px;
    }
  }

  div.cover {
  }
  div.cover img {
    display: block;
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center 60%;
  }

  div.content {
    padding: 20px 40px;
  }
  @media (max-width: 640px) {
    div.content {
      padding: 0 18px;
    }
  }


  main header {
    padding: 10px 0 30px;
  }
  main header h1 {
    font-weight: 700;
    color: #333;
  }

  main header h1 a {
    display: block;
    color: inherit;
  }
  main header h1 a:hover {
    color: inherit;
  }

  main header h1 a span,
  main header h1 a img {
    display: inline-block;
    font-size: 1.1em;
  }
  main header h1 a span {
    margin-right: 0.3em;
    margin-left: -0.1rem;
  }
  main header h1 a img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.2em;
    margin-left: -0.3rem;
    vertical-align: sub;
  }
  main header h1 a img.custom-icon {
    border-radius: var(--radius);
  }

  main header div.description {
    padding: 0.3rem 0 0.6rem;
    font-size: 0.95rem;
  }

  main footer {
    margin: 30px 0 10px;
    text-align: center;
    font-size: 0.75rem;
  }
  @media (max-width: 640px) {
    main footer {
      margin: 0 auto 30px;
    }
  }
  main footer span {
    color: #777;
  }
  main footer a {
    color: inherit;
    text-decoration: underline;
  }
</style>

<style is:global>
  :root {
    --gap-quarter: 0.25rem;
    --gap-half: 0.5rem;
    --gap: 1rem;
    --gap-double: 2rem;

    /* --bg: #F8F8FF; */
    --bg: #F5F5F5;
    --fg: #333;
    --accents-1: #0077ff;
    --accents-2: #f6f6db;
    --accents-3: #666;
    --geist-foreground: #000;
    --geist-success: #690;

    --radius: 4px;

    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    --font-mono: SFMono-Regular, Menlo, Consolas, 'PT Mono', 'Liberation Mono',
      Courier, monospace;
  }

  * {
    box-sizing: border-box;
    word-break: break-word;
  }


  html,
  body {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }

  body {
    min-height: 100vh;
    background: var(--bg);
    color: var(--fg);
    font-family: 'Noto Sans JP', ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Helvetica, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
      'Hiragino Sans GB', メイリオ, Meiryo, 'Apple Color Emoji', Arial,
      sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Yomogi';

    /*background-image: radial-gradient(#ddd 1px, transparent 1px),
      radial-gradient(#ddd 1px, transparent 1px);*/
    background-position: 0 0, 25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;

    /* Hack */
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
  }

  
  aside {
    position: sticky;
    top: 0rem;
    height: 100vh;
  }

  figure {
    margin: 0;
    font-size: 0.85rem;
    color: #999;
    line-height: 1.8rem;
  }

  a {
    color: var(--accents-3);
    text-decoration: none;
  }
  a:hover {
    color: var(--accents-3);
    text-decoration: none;
  }

  mark {
    padding: var(--gap-quarter);
    border-radius: var(--radius);
    background: rgba(247, 212, 255, 0.8);
  }

  h1 {
    margin: 0;
    color: var(--fg);
    font-size: 2.5rem;
    font-weight: 700;
  }

  h2 {
    margin: 0;
    color: var(--fg);
    line-height: 1.3;
    font-size: 1.2rem;
    font-weight: normal;
  }
  h2 > span.tag {
    border-radius: 4px;
    padding: 3px 9px;
    background: rgba(227, 226, 224, 0.5);
  }

  h3 {
    margin: 0;
    color: var(--fg);
    font-size: 1.2rem;
    font-weight: 700;
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.0rem;
    }

    h3 {
      font-size: 1.0rem;
    }
  }

  ol {
    color: #222;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  p {
    margin-top: 0.5px;
  }

  ul {
    color: #222;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  ul,
  ol {
    margin: 0;
    padding-inline-start: 1.5rem;
  }
  pre {
    margin: 0;
    white-space: pre;
    tab-size: 2;
  }
  pre :global(code) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 0.3rem 0;
    background-color: #333;
  }

  code {
    font-size: 0.9rem;
    background: #f1f1f1;
    color: #eb5757;
    padding: 0.25rem;
    border-radius: var(--radius);
    font-family: var(--font-mono);
  }

  table {
    color: #222;
    border-collapse: collapse;
  }

  table tr {
    vertical-align: middle;
  }

  table th {
    font-weight: 600;
    background-color: #f4f4f4;
  }

  table td,
  table th {
    font-size: 0.9rem;
    border: 1px solid #e4e4e4;
    padding: 0.5rem 1rem;
    line-height: 1.2rem;
  }
</style>
